node_modules/
.env
.DS_Store
dist/
.cache/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
*.tfplan.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
